$is-ie: true; $ie-version: 7;$assetPath: "/static/.land-registry-elements/assets";
@import "/vagrant/apps/land-registry-elements/src/elements/govuk/core/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/govuk/layout/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/govuk/tables/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/govuk/panels/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/govuk/forms/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/govuk/typography/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/land-registry/vertical-spacing/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/govuk/details/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/govuk/phase-banner/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/land-registry/core/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/land-registry/address/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/land-registry/definition-tabular/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/land-registry/language-switcher/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/land-registry/leaflet-map/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/govuk/icons/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/govuk/buttons/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/govuk/highlight-box/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/land-registry/print-button/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/land-registry/media/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/land-registry/warning/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/land-registry/back-link/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/land-registry/search-form/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/govuk/lists/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/land-registry/split-detail/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/land-registry/supplementary-panel/style.scss";
@import "/vagrant/apps/land-registry-elements/src/elements/land-registry/pagination-simple/style.scss";