// Helpers
@import "helpers";

// Reset
@import "reset";

// Typography
@import "elements-typography";

// Layout
@import "layout";

// Modules
// ==========================================================================

// Forms
@import "forms";

// Tables
@import "tables";

// Buttons
@import "buttons";

// Details
@import "details";

// Lists
@import "lists";

// Panels
@import "panels";

// Icons
@import "icons";

// Digital register
// ==========================================================================
.print-summary {
  padding: 15px;
  border: 8px solid #dee0e2;
}

.icon-print {
  background-image: url(../images/icon-print.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  background-origin: content-box;
  text-indent: 1.8em;
}

.legal-division--top {
  margin-top: $gutter;
  padding-top: $gutter;
  border-top: 4px solid $light-blue;
}

.legal-division--bottom {
  margin-bottom: $gutter;
  padding-bottom: $gutter;
  border-bottom: 4px solid $light-blue;
}
