<div class="inner-block">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This service is in private beta. Please give us your <a rel="external" href="mailto:digital-register-feedback@digital.landregistry.gov.uk">Feedback</a>.</span>
    </p>
  </div>
  <div class="grid-row">
    <div class="column-quarter column-flip">
      <div class="account" style="text-align:right;">
        {% if username %}
          <a href="{{ url_for('sign_out') }}" id="signout">Sign out</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
