{% extends "imports.html" %}

{% block body %}

<h1 class="heading-xlarge collapse-bottom">Summary of title {{ title.number }}</h1>
<p class="expand-bottom">This title was last changed on <b>{{ title.last_changed | datetime}}</b> at <b>TODO</b></p>

<div class="grid-row">

  <div class="column-two-thirds">

    <p class="lede collapse-top">
      {% if title.address_lines %}
        {{ '<br>'.join(title.address_lines)|safe }}
      {% else %}
        Not Available
      {% endif %}
    </p>

    <div id="map">
      The map relies on JavaScript being enabled in your browser.
    </div>

    <dl class="definition-tabular">
      <dt>Owner(s)</dt>
      {% for proprietor in title.proprietors %}
      <dd>
        <h5 class="heading-small collapse-top expand-bottom-half">{{ proprietor.name }}</h5>
        {% for address in proprietor.addresses %}
          <div class="grid-row expand-bottom-half">
            <div class="column-half">
              {{ '<br>'.join(address.lines)|safe }}
            </div>
          </div>
        {% endfor %}
      </dd>
      {% endfor %}

      {% if title.lenders %}
        <dt>Lender(s)</dt>
        {% for lender in title.lenders %}
          <dd>
            <h5 class="heading-small collapse-top expand-bottom-half">
              {{ lender.name }}
            </h5>
            {% for address in lender.addresses %}
              <div class="grid-row expand-bottom-half">
                <div class="column-half">
                  {{ '<br>'.join(address.lines)|safe }}
                </div>
              </div>
            {% endfor %}
          </dd>
        {% endfor %}
      {% endif %}

      <dt>Tenure type</dt>
      <dd><b>{{ title.tenure }}</b></dd>

      {% if title.ppi_data %}
        <dt>Price paid/stated</dt>
        <dd>
          <b>{{ title.ppi_data }}</b>
        </dd>
      {% endif %}
    </dl>

  </div>

  <div class="column-third printhidden">

    <div class="print-summary js-stick-at-top-when-scrolling">
      <div class="icon-print">
        <a href="javascript:window.print();">Print this page</a>
      </div>
    </div>

  </div>
</div>

<div class="text printhidden">

  <h6 class="heading-medium">What next</h6>
  <ul>
    <li><a href="search-page">Search for another title using this service</a></li>
    <li><a href="https://gov.uk">Return to GOV.UK</a></li>
  </ul>
</div>

{% endblock %}

{% block js_additionals %}
<script type='text/javascript'>
    var indexData = {{ title.indexPolygon | tojson }}
</script>
<script src="../static/javascripts/map.js"></script>
{% endblock %}
