<h1 class="heading-xlarge collapse-bottom">Title Number : {{ full_title_data.official_copy_data.title_number }} </h1>
{% for sub_registers in full_title_data.official_copy_data.sub_registers %}
    <h2 class="heading-medium">Register name : {{ sub_registers.sub_register_name }}</h2>
    <div>
        <ul class="list-plain">
        {% for entries in sub_registers.entries %}
            <li>
                <p>{{ entries.sequence_number }}. {{ entries.entry_date|checkexistence }} - {{ entries.full_text|strip_non_alpha_numeric_vales }}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endfor %}
