
{% block body %}

<h1 class="heading-xlarge collapse-bottom">WorldPay check</h1>

<div class="grid-row">
    <div class="column-two-thirds">
    <br/>
        <!-- 'worldpay_params' passed in via "render_template()" -->
        <form class="form" action="{{worldpay_params.worldpay_redirect_url}}" method="post">
            <!-- Note: these values may be obtained via 'params' of 'confirm_selection.html' -->
            {% set _dummy =  worldpay_params.update({'cartid': '0001444208589806RhrHOvIFk6liOWwHE7bKfy-'}) %}
            {% set _dummy =  worldpay_params.update({'amount': '3.0'}) %}
            {% set _dummy =  worldpay_params.update({'desc': 'REGISTER VIEW                   '}) %}
            {% set _dummy =  worldpay_params.update({'forenames': 'Forenames'}) %}
            {% set _dummy =  worldpay_params.update({'surname': 'Surname'}) %}
            {% set _dummy =  worldpay_params.update({'email': 'Richard.Prosser@landregistry.gsi.gov.uk'}) %}
            {% set _dummy =  worldpay_params.update({'address': '1, Plymouth, '}) %}
            {% set _dummy =  worldpay_params.update({'postcode': 'PL1 1AA'}) %}

            {% set _dummy =  worldpay_params.update({'mc_purchasetype': 'registerOnly'}) %}
            {% set _dummy =  worldpay_params.update({'mc_titlenumber': 'LA265'}) %}
            {% set _dummy =  worldpay_params.update({'mc_searchtype': 'T'}) %}
            {% set _dummy =  worldpay_params.update({'mc_portalind': 'Y'}) %}

            <!-- WP parameters -->
            {% include 'hiddenWP.html' %}
            <button type="submit" class="button" >Buy Now</button>
        </form>
    </div>

</div>

{% endblock %}
