{% extends "layout.html" %}

{% block page_title %}{{error}}{% endblock %}

{% block content %}
<main id="wrapper" role="main">
    <div id="content">
        {% include "beta_banner.html" %}
        <div id="global-breadcrumb">
            <ol>
                <li><a href="/title-search/">Find a Title</a></li>
                <li>{{ error }}</li>
            </ol>
        </div>
        <h2 class="inner-block">
            {% if code != 500 %}
                <h1 class="heading-xlarge">
                    {{error}}
                </h1>
                <div class="text">
                    <p>{{description}}</p><br/>
                </div>
            {% else %}
                <h1 class="heading-xlarge">
                    Sorry, we are experiencing technical difficulties
                </h1>
                <h2 class="heading-large">
                    <p>Please try again in a few moments.</p>
                </h2>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}