{% extends "layout.html" %}

{% block body %}
<!-- Worldpay Interface as a hidden "service" -->

<main id="content" role="main">
  <div id="processing" class="expand">
    <h1 class="heading-xlarge">Redirecting to World Pay</h1>
    <div>
      <img src="/static/images/loader.gif">
    </div>
    <br/><br>
    <!-- Powered by Worldpay logo-->
  </div>
</main>

<form  id="redirect" action="{{worldpay_params.worldpay_redirect_url}}" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <!-- Mandatory parameters passed in from "payment request" form -->
  <input type="hidden" id="cartId" name="cartId" value="{{worldpay_params.cartid}}">
  <input type="hidden" id="amount" name="amount"	value="{{worldpay_params.amount}}">

  <!-- Optional parameters that may be passed in from "payment request" form -->
  <input type="hidden" id="desc" name="desc" value="{{worldpay_params.desc}}">
  <input type="hidden" id="name" name="name" value="{{worldpay_params.forenames}} {{worldpay_params.surname}}">
  <input type="hidden" id="email" name="email" value="{{worldpay_params.email}}">
  <input type="hidden" id="address" name="address" value="{{worldpay_params.address}}">
  <input type="hidden" id="postcode" name="postcode" value="{{worldpay_params.postcode}}">

  <!-- Custom parameters passed in from "payment request" form -->
  <!-- See http://support.worldpay.com/support/kb/bg/pdf/rhtml.pdf for details -->
  <!-- Strictly speaking, "C_timestamp" should be "M_timestamp", as it is for WPAC only -->
  <input type="hidden" id="C_timestamp" name="C_timestamp" value="{{worldpay_params.c_timestamp}}">
  <input type="hidden" id="MC_purchaseType" name="MC_purchaseType" value="{{worldpay_params.mc_purchasetype}}">
  <input type="hidden" id="MC_titleNumber" name="MC_titleNumber"	value="{{worldpay_params.mc_titlenumber}}">
  <input type="hidden" id="MC_searchType" name="MC_searchType" value="{{worldpay_params.mc_searchtype}}">

  <!-- Mandatory parameters, from configuration file + environment -->
  <input type="hidden" id="instId" name="instId"	value="{{worldpay_params.wp_inst_id}}">
  <input type="hidden" id="authMode" name="authMode" value="{{worldpay_params.wp_auth_mode}}">
  <input type="hidden" id="accId1" name="accId1" value="{{worldpay_params.wp_account_id}}">
  <input type="hidden" id="currency" name="currency" value="{{worldpay_params.wp_auth_curr}}">
  <input type="hidden" id="testMode" name="testMode" value="{{worldpay_params.wp_test_mode}}">
  <input type="hidden" id="country" name="country" value="{{worldpay_params.wp_default_country}}">

  <!-- Custom parameters, from configuration file -->
  <input type="hidden" id="MC_portalInd" name="MC_portalInd" value="{{worldpay_params.wp_portalind}}">
  <input type="hidden" id="MC_callbackUrl" name="MC_callbackUrl" value="{{worldpay_params.wp_authorisation_callback_url}}">
  <input type="hidden" id="C_returnURL" name="C_returnURL" value="{{worldpay_params.action_url1}}">
  <input type="hidden" id="C_returnURLCancel" name="C_returnURLCancel" value="{{worldpay_params.action_url2}}">
  <input type="hidden" id="C_returnURLCallback" name="C_returnURLCallback" value="{{worldpay_params.action_url3}}">
  <noscript>
    <div class="nav">
      <input type="submit" class="last" style="text-decoration:underline; border:0; background:initial;" value="If this page appears for more than 3 seconds, click here" />
    </div>
  </noscript>
</form>

<div id='manual-submit-div' style='display:none;'>
  <a href="#" onclick="submit_form(); return false";>If this page appears for more than 3 seconds, click here</a>
</div>

<script type="text/Javascript">

  var timerid;

  function submit_form()
  {
    window.clearTimeout(timerid);
    document.getElementById('redirect').submit();
  }

  timerid = window.setTimeout ( submit_form, 3000 );
  var elem = document.getElementById('manual-submit-div');
  elem.style.display = "block";

</script>

{% endblock %}
