{% extends "layouts/layout.html" %}

{% block body %}
  <h1 class="heading-large">What information are you looking for?</h1>

  <div class="grid-row spacing-top-single">

    <div class="column-two-thirds tablet-column-two-thirds">

      <form method="POST" action="{{ url_for('landing_page') }}" data-clientside-validation="information_form_validation" data-clientside-validation-no-summary>
        {{ form.hidden_tag() }}

        {% if form.information.errors %}
          <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading">The following errors were found:</h2>

            <ul class="error-summary-list">
              {% for message in form.information.errors %}
                <li><a href="#{{form.information.id}}">{{message}}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        <fieldset class="form-group {% if form.information.errors %}error{% endif %}" id="{{form.information.id}}" tabindex="-1">
          <legend class="visuallyhidden">What information are you looking for?</legend>

          {% for subfield in form.information %}

            {%if subfield.data == 'title_summary' %}
              <h2 class="heading-small">Available from this service</h2>

              <label class="block-label" for="{{ subfield.id }}">
                Title summary <span class="font-xsmall">- brief facts from the register</span><br>
                <strong class="bold-small">&pound;{{price}}</strong> <span class="font-xsmall">inc VAT</span><br>

                {{subfield}}
              </label>

              <details class="clear">
                <summary class="font-xsmall">What is the title summary?</summary>

                <div class="panel panel-border-narrow spacing-bottom-double">
                  <p>The <strong class="bold-small">title summary</strong> is available to view online. It gives reduced information from the full register in a clearer, simpler format. It includes:</p>
                  <ul class="list list-bullet">
                    <li>property address and title number</li>
                    <li>current owner’s name and address</li>
                    <li>what they paid for the property</li>
                    <li>whether the property is freehold or leasehold (known as ‘tenure’)</li>
                    <li>if there is a mortgage on the property, the lender’s name and address</li>
                  </ul>
                </div>
              </details>

            {% endif %}

            {%if subfield.data == 'full_title_documents' %}
              <h2 class="heading-small">Available from Land Registry ‘Find a Property’</h2>

              <label class="block-label" for="{{ subfield.id }}">
                Full title documents &ndash; <span class="font-xsmall">the title register and title plan</span><br>
                <strong class="bold-small">&pound;3 each</strong> or <strong class="bold-small">&pound;6 for both</strong>, <span class="font-xsmall">no VAT payable</span><br>

                {{subfield}}
              </label>

              <details class="clear">
                <summary class="font-xsmall">What are title documents?</summary>

                <div class="panel panel-border-narrow spacing-bottom-double">
                  <p>Title documents are available in PDF format to download and keep.</p>
                  <p>The <strong class="bold-small">title register</strong> has details about the property or land, including:</p>

                  <ul class="list list-bullet">
                    <li>title number</li>
                    <li>who owns it</li>
                    <li>what they paid for it (properties only, if available)</li>
                    <li>any rights of way, restrictions and covenants</li>
                    <li>whether a mortgage on it has been ‘discharged’, eg paid off</li>
                  </ul>

                  <p>The <strong class="bold-small">title plan</strong> is a map showing:</p>

                  <ul class="list list-bullet">
                    <li>the property’s location</li>
                    <li>the general boundaries &ndash; find out how to <a href="https://www.gov.uk/your-property-boundaries">get exact boundary information</a></li>
                  </ul>
                </div>
              </details>

            {% endif %}

            {%if subfield.data == 'official_copy' %}
              <h2 class="heading-small">Available by post</h2>

              <label class="block-label" for="{{ subfield.id }}">
                Official copies <span class="font-xsmall">&ndash; prove ownership, eg for a court case or visa application</span><br>
                <strong class="bold-small">&pound;7 per copy</strong> <span class="font-xsmall">no VAT payable</span>

                {{subfield}}
              </label>

            {% endif %}

          {% endfor %}
        </fieldset>

        {{ form.submit(class_="button") }}
      </form>

      <script type="application/json" id="information_form_validation">
        {
          "information": {
            "presence": {
              "message": "Please choose an option."
            }
          }
        }
      </script>
    </div>
  </div>
{% endblock %}
