{% set asset_path = './static/govuk_template/' %}
{% set google_api_key = GOOGLE_ANALYTICS_API_KEY %}

{% extends "govuk_template.html" %}

{% block head %}
<!-- Google Analytics -->
<script type="text/javascript">
  var googleAnalyticsApiKey = '{{ google_api_key }}';
</script>
<script src="./static/javascripts/googleanalytics.js"></script>
{% block head_additionals %}{% endblock %}
{% block js_additionals %}{% endblock %}
{% endblock %}

{% block cookie_message %}
<p>Land Registry uses cookies to make the site simpler. <a href="/cookies">Find out more about cookies</a></p>
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This service is in private beta. Please give us your <a rel="external" href="mailto:digital-register-feedback@digital.landregistry.gov.uk">Feedback</a>.</span>
    </p>
  </div>
  {% block body %}{% endblock %}
</main>
{% endblock %}

{% block footer_support_links %}
  <ul>
    <li><a href="/cookies">Cookies</a></li>
    <li>Built by <a href="https://www.gov.uk/government/organisations/land-registry">Land Registry</a></li>
  </ul>
{% endblock %}
