{% extends "layout.html" %}

{% block body %}

<main id="content" role="main">
  <div class="text">
    <h1 class="heading-xlarge">Sign in</h1>
    <p class="lede">Have you purchased documents using this service before?</p>

      <form class="form" action="check-sign-in" method="get">
        <input type='hidden' name='title' value={{title}}/>
        <div class="form-group">
          <fieldset class="inline">
            <label class="block-label" for="radio-inline-1">
              <input id="radio-inline-1" type="radio" name="registered" value="yes" required>
              Yes
            </label>
            <label class="block-label" for="radio-inline-2">
              <input id="radio-inline-2" type="radio" name="registered" value="no" required>
              No
            </label>
          </fieldset>
        </div>

        <div class="form-group">
          <button class="button">Continue</button>
        </div>
      </form>

    </div>
</main>

{% endblock %}
