{% extends "layout.html" %}

{% block body %}
  <div class="outer-block">
    <div class="inner-block">
      <form action="{{ url_for('find_titles') }}" method="post" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <div class="text">
            <h1 class="heading-xlarge form-title">Search the land and property register</h1>
            <p class="lede"><label for="search_term">You can get a summary of information about registered property or land in England and Wales, even if you don’t own it.</label></p>
          </div>
          <label for="search_term" class="form-label-bold">Enter a postcode</label>
          <input type="text" class="form-control" name="search_term" id="search_term" required autofocus="autofocus">
        </div>
        <br>
        <br>
        <details>
            <summary>Don't know the postcode?</summary>
            <div>
              <img style="vertical-align: middle;margin-bottom:10px" src="/static/images/beta.png" alt="This is a trial service">
                <p>This is a trial service. You can try searching by street name but it may not work properly.</p>
                <h3 class="heading-small">Find a property without a postcode</h3>
              <p>Use the existing Land Registry service to find a property:
                </p><ul>
                  <li><a rel="external" href="https://eservices.landregistry.gov.uk/www/wps/portal/!ut/p/b1/hc7LCoJQEAbgZ_EBYuZcsmmphRqllpfSswlDiW4aIUU9fdquwprdwPf_M6AgZUNiJIgIIQFVZtfdNqt3VZkd213pa8FJMia5Q0If4KRv2YJFfYFSNCD9AWz2L7-CBOU63NPZvdfJ7DG6RvvHgnvjGL3IRXcT37w8mefLIDYN0-hZwwuERdnk1Ee1bxk4EaY_tcWCI-pf4P028T-g_f0FsGMMBM-pTgWkDRt09dBSwkkdZ_IQOLetpj0BA4XHmQ!!/dl4/d5/L0lDU0lKSmdwcGlRb0tVUW9LVVEhL29Gb2dBRUlRaGpFQ1VJZ0FJQUl5RkFNaHdVaFM0SldsYTRvIS80RzNhRDJnanZ5aERVd3BNaFFqVW81Q2pHcHhBL1o3XzMyODQxMTQySDgzNjcwSTVGRzMxVDUzOFY0LzAvMzE1MTU2MzkyMzA4L3NwZl9BY3Rpb25OYW1lL3NwZl9BY3Rpb25MaXN0ZW5lci9zcGZfc3RydXRzQWN0aW9uLyEyZkRldGFpbGVkRW5xdWlyeUluaXQuZG8!/">by street address</a></li>
                  <li><a rel="external" href="https://eservices.landregistry.gov.uk/www/wps/portal/!ut/p/b1/hc7LCoJQEAbgZ_EBYuZcsmmphRqllpfSswlDiW4aIUU9fdquwprdwPf_M6AgZUNiJIgIIQFVZtfdNqt3VZkd213pa8FJMia5Q0If4KRv2YJFfYFSNCD9AWz2L7-CBOU63NPZvdfJ7DG6RvvHgnvjGL3IRXcT37w8mefLIDYN0-hZwwuERdnk1Ee1bxk4EaY_tcWCI-pf4P028T-g_f0FsGMMBM-pTgWkDRt09dBSwkkdZ_IQOLetpj0BA4XHmQ!!/dl4/d5/L0lDU0lKSmdwcGlRb0tVUW9LVVEhL29Gb2dBRUlRaGpFQ1VJZ0FJQUl5RkFNaHdVaFM0SldsYTRvIS80RzNhRDJnanZ5aERVd3BNaFFqVW81Q2pHcHhBL1o3XzMyODQxMTQySDgzNjcwSTVGRzMxVDUzOFY0LzAvMzE1MTU2MzkyMzA4L3NwZl9BY3Rpb25OYW1lL3NwZl9BY3Rpb25MaXN0ZW5lci9zcGZfc3RydXRzQWN0aW9uLyEyZkRldGFpbGVkRW5xdWlyeUluaXQuZG8!/">by title number</a></li>
                  <li><a rel="external" href="https://eservices.landregistry.gov.uk/www/wps/portal/!ut/p/b1/hc5NDoJADAXgs3AA086PWJeDBjDqIIIIszEkECMqujAaOb3oTo3SXZPvvRYMZGxIjAQRIaRg6vy62-aX3anOD8_d2BvBSTImuU_CHuCk73qCxX2BUrQg-wM81pVfQ4pyE1V0nt8v6awZXeOqCbker1DHc9SV4rqIF0WyXDlK8V5ALkRl3ebMR3XgKpwIJ5h6IuSI9hd4v028Azx_fwH8MQpB-6djCVnLBr96KJFwNIeZ3C_929ayHh0bZeg!/dl4/d5/L0lDU0lKSmdwcGlRb0tVUW9LVVEhL29Gb2dBRUlRaGpFQ1VJZ0FJQUl5RkFNaHdVaFM0SldsYTRvIS80RzNhRDJnanZ5aERVd3BNaFFqVW81Q2pHcHhBL1o3XzMyODQxMTQySDgzNjcwSTVGRzMxVDUzOFY0LzAvMzE1MTU2MTQ1ODU1L3NwZl9BY3Rpb25OYW1lL3NwZl9BY3Rpb25MaXN0ZW5lci9zcGZfc3RydXRzQWN0aW9uLyEyZk1hcEVucXVpcnlJbml0LmRv/">using a map</a></li>
            </ul></div>
          </details>
        <br>
        <div class="form-group">
          <input id="search_button" type="submit" value="Search" class="button">
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block js_bottom %}
  <script src="/static/javascripts/ga_search.js"></script>
{% endblock %}
