{% extends "layout.html" %}

{% block body %}
  <div class="outer-block">
    <div class="inner-block">
      <div class="grid-row">
        <div class="column-two-thirds">
          <h1 class="heading-large">Search the land and property register</h1>
          <p>You can get information about registered property or land in England and Wales, even if you don’t own it. </p>
          <form action="{{ url_for('find_titles') }}" method="post" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group">
              <label for="search_term" class="form-label-bold">Enter a postcode</label>
              <input type="text" class="form-control" name="search_term" id="search_term" required autofocus="autofocus">
            </div>
            <br><br>
            <details>
              <summary>Don't know the postcode?</summary>
              <div>
                <img style="vertical-align: middle;margin-bottom:10px" src="/static/images/beta.png" alt="This is a trial service" />
                  <p>This is a trial service. You can try searching by street name but it may not work properly.</p>
                  <h3 class="heading-small">Find a property without a postcode</h3>
                <p>Use the existing Land Registry service to find a property:
                  <ul>
                    <li><a rel="external" href="https://eservices.landregistry.gov.uk/wps/portal/Property_Search">by street address</a></li>
                    <li><a rel="external" href="https://eservices.landregistry.gov.uk/wps/portal/Property_Search">by title number</a></li>
                    <li><a rel="external" href="https://eservices.landregistry.gov.uk/wps/portal/Property_Search">using a map</a></li>
              </div>
            </details>
            <br>
            <div class="form-group">
              <input id="search_button" type="submit" value="Search" class="button">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js_bottom %}
  <script src="/static/javascripts/ga_search.js"></script>
{% endblock %}
