{% extends "layout.html" %}

{% block body %}
<div class="outer-block">
    <div class="inner-block">
      <form action="{{ url_for('find_titles') }}" method="post" role="form">
          {{ form.hidden_tag() }}
          <h1 class="heading-xlarge form-title">Find a title</h1>
          <div class="form-group">
              <div class="text">
                  <p class="lede"><label for="search_term">Search for the title of any property in England and Wales, even if you don’t own it.</label></p>
              </div>
              <p class="form-hint">For example a postcode, street name or title number</p>
              <input type="text" class="form-control" name="search_term" id="search_term" required>
          </div>
          <div class="form-group">
              <input id="search_button" type="submit" value="Search" class="button">
          </div>
      </form>
    </div>
</div>
{% endblock %}

{% block js_bottom %}
<script src="../static/javascripts/ga_search.js"></script>
{% endblock %}
