{% extends "layout.html" %}

{% block body %}

<main id="content" role="main">
  <div class="text">
    <h1 class="heading-xlarge">Sign in</h1>
    <form class="form" action="{{ url_for('process_sign_in') }}" method="post">
      <input type='hidden' name='title' id='title' value="{{title}}"/>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="form-group">
        <label class="form-label" for="email">Email address</label>
        <input class="form-control-3-4" type="email" name="email" id="email" required>
      </div><!-- form-group -->

      <div class="form-group">
        <label class="form-label" for"password">Password</label>
        <input class="form-control-3-4" type="password" name="password" id="password" required>
        <p><a target="_blank" href="https://eservices.landregistry.gov.uk/www/wps/myportal/Property_Search">I’ve forgotten my password</a></p>
      </div><!-- form-group -->

      <button class="button" type="submit">Sign in</button>

      <div class="panel-indent">
        <p>To use this service, you will need a current Property Search User account. If you don't have one, you need to <a target="_blank" href="https://eservices.landregistry.gov.uk/www/wps/portal/RegisterForLRO">create an account</a></p>
      </div>

    </form>
    </div>

</main>


{% endblock %}
