.summary {
  padding: 15px;
  border: 8px solid #dee0e2;
}

.icon-print {
  background-image: url(../images/icon-print.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  background-origin: content-box;
  text-indent: 1.8em;
}
